path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.link.twofive {
  opacity: 1;
}

path.link.fivezero {
  opacity: 1;
}

path.link.sevenfive {
  opacity: 1;
}

path.link.onezerozero {
  opacity: 1.0;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}

.checkboxgroup {
  width: 200px;
  height: 200px;
  left: 700px;
  top: 200px;
  background: #fcfff4;
  position: absolute;
}

.checkboxgroup{
    width: 20em;
    overflow: auto;
}
.checkboxgroup p{
    width: 7em;
    text-align: right;
}
.checkboxgroup label{
    width: 12em;
    float: right;
}

